html {
    font-family: "Lucida Grande", Arial, sans-serif;
}
body {
    height: 90%;
    float: left;
    display: table;
}
#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5%;
    height: 6.5%;
}
#navbar {
    line-height: 250%;
    background-color: #f1f1f1;
    height: 93.5%;
    width: 15%;
    float: left;
    padding: 2%;
    display: table-cell;
    vertical-align: top;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}
#navbar li a {
    display: block;
    color: #000000;
    padding-left: 5%;
    text-decoration: none;
}
#navbar li a:hover {
    background-color: #555;
    color: white;
}
#content {
    float: left;
    padding-left: 1%;
    width: 75%;
    display: table-cell;
    vertical-align: top;
}
#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 0.5%;
}